* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
  background: #111111;
}

main .section1 {
  animation: appearFromLeft 0.5s ease;
  height: 100vh;
  padding: 0 2rem;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;
  color: #111111;
  background: #c3c3c3;
}
main .section1 h2 {
  margin: 0.5rem 0;
  font-size: 1.8em;
  font-family: "Montserrat";
  color: #000000;
  animation: appearFromLeft 0.7s ease-in;
}
main .section1 .link {
  margin: 2rem 0;
  font-weight: 700;
  font-family: "Montserrat";
  font-size: 1em;
  text-transform: uppercase;
  background: none;
  border: none;
  color: #111111;
  text-decoration: none;
  transition: 0.3s ease;
}
main .section1 p {
  color: #111111;
}
main .section1 ul {
  display: flex;
  align-items: center;
}
main .section1 ul li {
  list-style: none;
  margin: 0.5rem;
}
main .section1 ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat";
  color: #111111;
  font-weight: 700;
}
main .section1 ul li img {
  width: 1.5rem;
}
main .section2 {
  background: #d3d3d3;
  color: #111111;
  padding: 2rem;
  animation: appearFromFutherLeft 1.5s ease;
}
main .section2 .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .section2 .text h1 {
  font-family: "Montserrat";
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.9em;
}
main .section2 .projects-container {
  margin: 1rem 0;
}
main .section2 .projects-container .project {
  margin-bottom: 2rem;
}
main .section2 .projects-container .project .title-explanation {
  margin: 0.5rem 0 1rem;
}
main .section2 .projects-container .project .title-explanation h3 {
  margin-top: 0.5rem;
  font-family: "Montserrat";
}
main .section2 .projects-container .project .links {
  align-items: center;
}
main .section2 .projects-container .project .links a {
  text-decoration: none;
  color: #111111;
  font-size: 0.9em;
  margin-right: 0.5rem;
  font-family: "Montserrat";
  font-weight: 700;
}
main .section2 .projects-container .project .links img {
  width: 0.9rem;
}
main .section2 .projects-container .project img {
  width: 100%;
}
main .section2 .projects-container .project:nth-child(1) {
  animation: appearFromFutherLeft 1.5s ease;
}
main .section2 .projects-container .project:nth-child(2) {
  animation: appearFromFutherLeft 2s ease;
}
main .section2 .projects-container .project:nth-child(3) {
  animation: appearFromFutherLeft 2.5s ease;
}
main .section3 {
  padding: 2rem;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
main .section3 span {
  text-transform: capitalize;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  color: #f9f9f9;
}
main .section3 .skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 1rem;
}
main .section3 .skills img {
  width: 2rem;
}
main .section3 .skills .js {
  filter: brightness(0) saturate(100%) invert(68%) sepia(47%) saturate(628%) hue-rotate(15deg) brightness(108%) contrast(112%);
}
main .section3 .skills .react {
  filter: brightness(0) saturate(100%) invert(81%) sepia(42%) saturate(1045%) hue-rotate(161deg) brightness(100%) contrast(98%);
  animation: react 5s linear infinite;
}
main .section3 .skills .css {
  filter: brightness(0) saturate(100%) invert(17%) sepia(55%) saturate(6642%) hue-rotate(231deg) brightness(96%) contrast(86%);
}
main .section3 .skills .sass {
  filter: brightness(0) saturate(100%) invert(65%) sepia(97%) saturate(2022%) hue-rotate(293deg) brightness(87%) contrast(81%);
}
main .section3 .skills .html {
  filter: brightness(0) saturate(100%) invert(48%) sepia(36%) saturate(6385%) hue-rotate(346deg) brightness(90%) contrast(100%);
}

@keyframes appearFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes appearFromFutherLeft {
  from {
    transform: translateX(-300%);
    opacity: 0;
  }
}
@keyframes appearFromRight {
  from {
    transform: translateX(200%);
    opacity: 0;
  }
}
@media (min-width: 800px) {
  header {
    padding: 0 2rem;
  }
  header nav {
    justify-content: space-around;
  }
  .section1 {
    margin: 0;
    height: 90vh;
  }
  .section1 .link:hover {
    box-shadow: 0 2px 0 #111111;
  }
  .section2 {
    margin: 0;
    display: grid !important;
    grid-template-columns: 0.3fr 1fr;
  }
}
@keyframes react {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (min-width: 1280px) {
  header, footer {
    margin: 0 5rem;
  }
  main {
    position: relative;
    display: grid;
    grid-template-columns: 0.6fr 1fr;
  }
  main .section2 {
    grid-template-columns: 0.2fr 1fr;
    align-items: baseline;
  }
  main .section2 .projects-container.desktop {
    margin: 0;
  }
  main .section2 .projects-container.desktop .project {
    position: relative !important;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
  }
  main .section2 .projects-container.desktop .project .project-image {
    width: 60%;
    margin-bottom: 0.1rem;
  }
  main .section2 .projects-container.desktop .project .title-explanation {
    width: 60%;
  }
  main .section2 .projects-container.desktop .project .links {
    display: flex;
    justify-content: space-around !important;
    align-items: center;
    width: 90%;
  }
  main .section2 .projects-container.desktop .project .links a {
    margin-top: 0.3rem;
    display: flex;
    align-items: center;
  }
  main .section2 .projects-container.desktop .project .links a img {
    width: 0.9rem;
    padding-left: 0.5rem;
  }
  main .section2 .projects-container.desktop .project:nth-child(1) .project-image:hover {
    z-index: 1;
    transform: translate(-70%, 60%) scale(1.8);
    transition: 0.5s ease-in-out;
  }
  main .section2 .projects-container.desktop .project:nth-child(2) .project-image:hover {
    z-index: 1;
    transform: translate(-70%) scale(1.8);
    right: 50%;
    transition: 0.4s ease-in-out;
  }
  main .section2 .projects-container.desktop .project:nth-child(3) .project-image:hover {
    z-index: 1;
    transform: translate(-70%, -65%) scale(1.8);
    transition: 0.4s ease;
  }
  main .section3 {
    position: absolute;
    bottom: 1%;
    height: 15%;
    width: 32.5%;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (min-width: 1536px) {
  .section1 {
    height: 120vh !important;
  }
  .section2 {
    grid-template-columns: 0.5fr 3fr !important;
  }
  .section3 {
    bottom: 0.1rem !important;
    background: #000;
  }
}/*# sourceMappingURL=styles.css.map */